process {
    withLabel: graceful_failure {
        ext.fail_gracefully = true
    }
}

trace {
    enabled = true
    file = "${params.metapipeline_log_output_dir}/nextflow-log/${params.patient}-${params.task_hash}/trace.txt"
}

report {
    enabled = true
    file = "${params.metapipeline_log_output_dir}/nextflow-log/${params.patient}-${params.task_hash}/report.html"
}

timeline {
    enabled = true
    file = "${params.metapipeline_log_output_dir}/nextflow-log/${params.patient}-${params.task_hash}/timeline.html"
}

profiles {
    standard {
        apptainer {
            enabled = false
        }

        docker {
            enabled = true
            uid_and_gid = "-u \$(id -u):\$(id -g)"
            all_group_ids = "\$(for i in `id --real --groups`; do echo -n \"--group-add=\$i \"; done)"
            runOptions = "${uid_and_gid} ${all_group_ids}"
        }

        params.container_mount_flag = "-v"
    }

    // Define copy of default standard profile as docker to allow explicit docker selection
    // Profile aliasing isn't directly available so profile is copied
    docker {
        apptainer {
            enabled = false
        }

        docker {
            enabled = true
            uid_and_gid = "-u \$(id -u):\$(id -g)"
            all_group_ids = "\$(for i in `id --real --groups`; do echo -n \"--group-add=\$i \"; done)"
            runOptions = "${uid_and_gid} ${all_group_ids}"
        }

        params.container_mount_flag = "-v"
    }

    apptainer {
        docker {
            enabled = false
        }

        apptainer {
            enabled = true

            autoMounts = true
            ociAutoPull = true
        }

        params.container_mount_flag = "-B"
    }
}
